{% trans_default_domain 'FormBundle' %}

<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <img src="http://img2.rtve.es/v/4353901?w=1600&preview=1512648606813.jpg"></img>
    </body>
</html>
